# Universidad Politecnica de Yucatan
# Trends in data science
# Intro to Cassandra Workshop

In [1]:
# Importing essential libraries
from cassandra.cluster import Cluster
from cassandra.query import SimpleStatement
from cassandra import ConsistencyLevel

In [2]:
# Creating connection to cluster 

cluster = Cluster(['172.18.0.2'],port=9042)
session = cluster.connect()

In [3]:
#Create a keyspace
session.execute("CREATE KEYSPACE IF NOT EXISTS university WITH REPLICATION \
            = { 'class' : 'SimpleStrategy', 'replication_factor' : '1' };")

In [4]:
# Create table
session.execute("CREATE TABLE IF NOT EXISTS university.students (\
            studentid text PRIMARY KEY,\
            name text,\
            last_name text,\
            program text,\
            semester int\
            );")

## CRUD OPERATIONS

In [5]:
# Inserting data
query = SimpleStatement("INSERT INTO university.students\
            (studentid, name, last_name, program, semester)\
            VALUES\
            (%s, %s, %s, %s, %s)", consistency_level = ConsistencyLevel.QUORUM)

session.execute(query, ('1', 'Jason', 'Pinelo', 'Data Engineering', 9))
session.execute(query, ('2', 'Adrian', 'Carmona', 'Data Engineering', 9))
session.execute(query, ('3', 'Emmanuel', 'Hurtado', 'Data Engineering', 9))
session.execute(query, ('4', 'Pedro', 'Uicab', 'Data Engineering', 9))
session.execute(query, ('5', 'Karla', 'Valdez', 'Data Engineering', 9))

In [8]:
# Reading data
data = session.execute("SELECT * FROM university.students;")
for row in data:
    print(row.studentid, row.name, row.last_name, row.program, row.semester)

4 Pedro Uicab Data Engineering 9
3 Emmanuel Hurtado Data Engineering 9
5 Karla Valdez Data Engineering 9
2 Adrian Carmona Data Engineering 9
1 Jason Pinelo Data Engineering 9

In [11]:
# Deleting data
session.execute("DELETE FROM university.students WHERE studentid='3';")
data = session.execute("SELECT * FROM university.students;")
for row in data:
    print(row.studentid, row.name, row.last_name, row.program, row.semester)

4 Pedro Uicab Data Engineering 9
5 Karla Valdez Data Engineering 9
1 Jason Pinelo Data Engineering 9

In [13]:
# Updating data
session.execute("UPDATE university.students SET semester=10 WHERE studentid='1'")
data = session.execute("SELECT * FROM university.students;")
for row in data:
    print(row.studentid, row.name, row.last_name, row.program, row.semester)

4 Pedro Uicab Data Engineering 9
5 Karla Valdez Data Engineering 9
1 Jason Pinelo Data Engineering 10

## CHALLENGE
Create a table with the subjects of ninth semester including a primary key, name of the subject and professor. Perform a Reading, some Updating and Deleting as you wish